@page "/"
@inject DictionaryService DictService
@using BlazorServer.Data


<MudPaper Class="pa-6 mx-auto mt-6" MaxWidth="350px" Elevation="4">
    <MudText Typo="Typo.h5" Class="mb-4">ADD NEW ENTRY</MudText>

    <MudTextField @bind-Value="KeyInput" Label="Key" Variant="Variant.Filled" FullWidth="true" />
    <MudTextField @bind-Value="ValueInput" Label="Value" Variant="Variant.Filled" FullWidth="true" />

    <MudButton OnClick="AddKeyValue" Color="Color.Primary" Variant="Variant.Filled" Class="mt-4" FullWidth="true">
        Add
    </MudButton>
    
    @if (!string.IsNullOrEmpty(Message))
    {
        <div class="alert alert-info mt-3" role="alert">
            @Message
        </div>
    }
</MudPaper>

@code {
    private string KeyInput = "";
    private string ValueInput = "";
    private string Message = "";

    private void AddKeyValue()
    {
        if (string.IsNullOrWhiteSpace(KeyInput))
        {
            Message = "Key cannot be empty";
            return;
        }

        DictService.AddEntry(KeyInput, ValueInput);
        Message = $"Added key '{KeyInput}' with value '{ValueInput}'";

        KeyInput = "";
        ValueInput = "";
     
    }

}
