@page "/display"
@inject DictionaryService DictService
@using BlazorServer.Data

<MudPaper Class="pa-6 mx-auto mt-6" MaxWidth="900px" Elevation="6">
    <MudText Typo="Typo.h5" Class="mb-4 text-center">DICTIONARY ENTRIES</MudText>

    <MudDataGrid Items="@DictService.Entries"
                 Filterable="false"
                 SortMode="@SortMode.None"
                 Groupable="false"
                 Hover="true"
                 Striped="true"
                 Bordered="true"
                 Dense="false">
     
        <Columns>
            <PropertyColumn Property="x => x.Key" Title="KEY" Width="33%" />
            <PropertyColumn Property="x => x.Value" Title="VALUE" Width="33%" />

            <TemplateColumn  Width="33%" HeaderClass="d-flex justify-center" Title="ACTION">
                <CellTemplate Context="item">
                    <div class="d-flex justify-center">
                        <MudButton Color="Color.Primary"
                                   Variant="Variant.Filled"
                                   Size="Size.Small"
                                   OnClick="@(() => Remove(item.Item.Key))">
                            Delete
                        </MudButton>
                    </div>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>

    <MudButton Color="Color.Primary" Variant="Variant.Filled"
               Class="mt-3" Size="Size.Small" OnClick="ClearAll">
        Clear All
    </MudButton>
</MudPaper>

@code {
    private void Remove(string key)
    {
        DictService.RemoveEntry(key);
    }

    private void ClearAll()
    {
        DictService.ClearAll();
    }
}
